<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% @carts.select { |cart| cart.user_id == current_user.id}.each do |item| %>
      <tr>
        <td><%= item.products_product %></td>
        <td><%= item.products_price %></td>
        <td><%= form_for(item, url: cart_path(item)) do |f| %>
          <%= f.number_field :quantity, min: 1, value: item.quantity, onchange: 'this.form.submit();' %>
        <% end %></td>
        <td><%= item.subtotal %></td>
        <td>
          <%= link_to "Remove", item, method: :delete %>
        </td>
      </tr>
    <% end %>
        <tr>
      <td colspan="3"></td>
      <td>Total:</td>
      <td><%= @carts.select{|cart| cart.user_id == current_user.id}.sum(&:subtotal) %></td>
    </tr>
  </tbody>
</table>
