<div id="<%= dom_id product %>">
  <p>
    <strong>Categorie:</strong>
    <%= product.categorie %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product.product %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>
  <p>
    <strong>Weight:</strong>
    <%= product.weight%>
  </p>

    <strong>Pics:</strong>
    <%= image_tag product.pics if product.pics.present?  %>
  
  <%= form_tag(buy_product_path(product), method: :post) do %>
      <%= submit_tag 'Buy it',class:'btn btn-primary'%><br>
      <%= label_tag(:quantity, "Quantity:") %>
      <%= number_field_tag(:quantity, 1, min: 1, max: 100) %>
      <% end%>
    
</div>
